<div class="row">
  <div *ngFor="let comida of listaComida" class="col">
    <div class="card" style="width: 18rem">
      <img src="{{ comida.src }}" class="card-img-top" alt="Fotos de comidas" />
      <div class="card-body">
        <h5 class="card-title">{{ comida.title }}</h5>
        <p class="card-text">{{ comida.descricao }}</p>
        <h3 class="card-text">{{ comida.valor }}</h3>
        <a href="#" class="btn btn-primary">Adicionar ao pedido</a>
      </div>
    </div>
  </div>
</div>
