<div class="container">
  <div class="row">
    <label>Nome de Usuário: </label>
    <input
      type="text"
      class="form-control"
      placeholder="username"
      aria-label="name"
      [(ngModel)] = "username"
    />

    <label>CPF: </label>
    <input
      type="number"
      class="form-control"
      placeholder="CPF"
      aria-label="CPF"
      [(ngModel)] = "cpf"
    />
    <label>Dia do nascimento: </label>
    <input
      type="number  "
      class="form-control"
      placeholder="Dia de Nascimento"
      aria-label="dia"
      [(ngModel)] = "date"
    />
    <label>Senha: </label>
    <input
      type="text"
      class="form-control"
      placeholder="Senha"
      aria-label="senha"
      [(ngModel)] = "password"
    />
  </div>
  <div class="row">
    <p>O nome de usuário inserido foi: {{ username }}</p>
  </div>
  <div class="row">
    <p>O CPF inserido foi: {{ cpf }}</p>
  </div>
  <div class="row">
    <p>A data inserida foi: {{ date }}</p>
  </div>
  <div class="row">
    <p>A Senha inserida foi: {{ password }}</p>
  </div>
</div>
