<div class="container">
  <form #cadastro="ngForm" (submit)="showOptions()">
    <div class="row">
      <label>Nome de Usuário: </label>
      <input
        type="text"
        class="form-control"
        placeholder="username"
        aria-label="name"
        [(ngModel)]="user.name"
        name="username"
      />

      <label>CPF: </label>
      <input
        type="number"
        class="form-control"
        placeholder="CPF"
        aria-label="CPF"
        [(ngModel)]="user.cpf"
        required
        name="cpf"
      />
      <label>Dia do nascimento: </label>
      <input
        type="number"
        class="form-control"
        placeholder="Dia de Nascimento"
        aria-label="dia"
        [(ngModel)]="user.date"
        name="date"
        min="1"
        max="31"
      />
      <label>Senha: </label>
      <input
        type="text"
        class="form-control"
        placeholder="Senha"
        aria-label="senha"
        [(ngModel)]="user.password"
        required
        name="password"
      />
      <button
        type="submit"
        style="width: 100px; margin-top: 10px"
        [disabled]="!cadastro.valid"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
