* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(67, 77, 73);
    font-family: 'Montserrat', sans-serif;
    height: 90%;
}

header {

    height: 150px;
    width: 100%;
    
    
}

header h1 img {
    width: 140px;
    height: 130px;
    left:  20%;
    
}
.home {
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0);
    
}

nav {
    position: absolute;
    top: 50px;
    right: 10%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    border: 2px;
    border-radius: 15px;
    background: white;
    padding: 10px;
    border-width: 2px;
}

nav a:hover {
    background: black;
    text-decoration: underline;
    color: white;
    transition: 0.3s;
}

p {
    font-size: 14px;
}

main p {
    margin: 20px auto;
    text-align: center;
}

main{
    margin-bottom: 8%;
}

.button-avancar {
    border-radius: 10px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    margin: 2%;
}



.video {
    text-align: center;
}

footer {
    bottom: 0;
    left: 0;
    height: 10%;
    /* position: fixed; */
    width: 100%;
    text-align: center;
    background: black;
}

.copyright {
    color: white;
    font-size: 13px;
    padding: 40px;
    
}

