* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
   }

.titulo {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: brown;
    align-items: center;
    padding: 80px;
}

p {
    font-size: 14px;
}

.button-avancar {
    border-radius: 10px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    margin-top: 20px;
}

.page-top {

    background-image: url("../img/image-h1.jpg");
    height: 200px;
}

.row {
    display: flex;
}
 
.imagens img{
   width: 2000px;
}

